<h3>Adicionar Veículo</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="modelo">Modelo</label>
        <input type="text" class="form-control" id="modelo" required [(ngModel)]="veiculo.modelo" name="modelo">
    </div>

    <div class="form-group">
      <label for="marca">Marca</label>
      <input type="text" class="form-control" id="marca" required [(ngModel)]="veiculo.marca" name="marca">
    </div>

    <div class="form-group">
      <label for="ano">Ano</label>
      <input type="text" class="form-control" id="ano" required [(ngModel)]="veiculo.ano" name="ano">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
